---
import type { GetStaticPaths } from "astro";
import { getLocaleFromUrl, createTranslations } from "../../core/shared/infrastructure/i18n/server";

import { Icon } from "astro-icon/components";

import Layout from "../../layouts/Layout.astro";

import Menu from "../../layouts/Menu.astro";
import Base from "../../components/modals/Base.astro";
import Alert from "../../components/modals/Alert.astro";
import Confirm from "../../components/modals/Confirm.astro";

import "../../styles/profile.css";

export const getStaticPaths = (() => {
	return [
		{ params: { lang: "en" } }, 
		{ params: { lang: "es" } }
	];
}) satisfies GetStaticPaths;

const locale = getLocaleFromUrl(Astro.url);
const t = createTranslations(locale);
---

<Layout locale={locale} title={t("profile.title")}>
    <Menu locale={locale} />

    <div class="profile">
        <div class="profile-content">
            <div class="menu">
                <div class="box">
                    <aside class="menu">
                        <p class="menu-label">{t("profile.menu.title")}</p>
                        <ul id="uMenuList" class="menu-list">
                            <li><a id="aMenuInformation" class="menu-item is-active">
                                <Icon name="solar:user-bold" width={24} height={24} />
                                <label>{t("profile.menu.information")}</label>
                            </a></li>
                            <li><a id="aMenuSecurity" class="menu-item">
                                <Icon name="solar:shield-keyhole-bold" width={24} height={24} />
                                <label>{t("profile.menu.security")}</label>
                            </a></li>
                            <li><a id="aMenuData" class="menu-item">
                                <Icon name="solar:database-bold-duotone" width={24} height={24} />
                                <label>{t("profile.menu.data")}</label>
                            </a></li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div id="dItems" class="content">
                <div id="dInformation" class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="dInformationPhoto">
                                <div class="dInformationPhotoProfile">
                                    <Icon id="iIPIcon" name="solar:user-bold" width={24} color="white" />
                                    <img id="iIPPhoto" alt="profile" style="display: none" />
                                    <button id="btnIPPhotoEdit" class="button is-primary">
                                        <Icon name="material-symbols:edit-rounded" width={24} height={24} />
                                    </button>
                                    <input id="iIPPhotoEdit" type="file" 
                                        accept="image/jpeg,image/jpg,image/png,image/gif,image/webp"
                                        style="display: none" />
                                </div>
                                <h4 id="lIPName">{t("shared.name")}</h4>
                            </div>
                            <div id="dInformationShow">
                                <div class="dInformationElement">
                                    <label><b>{t("shared.email")}</b></label>
                                    <label id="dIEEmail">{t("shared.email")}</label>
                                </div>
                            </div>

                            <div id="dInformationEditName">
                                <div class="field">
                                    <label class="label">{t("shared.name")}</label>
                                    <div class="control">
                                        <input id="iIENInput" class="input" type="text" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control" style="display: flex; flex-direction: row; gap: 0.3rem">
                                        <button id="btnIENCancel" style="flex: 1" class="button is-danger is-fullwidth">{t("shared.cancel")}</button>
                                        <button id="btnIENUpdate" style="flex: 1" class="button is-primary is-fullwidth">{t("shared.update")}</button>
                                    </div>
                                </div>
                            </div>
                            <div id="dInformationEditEmail">
                                <div class="field">
                                    <label class="label">{t("shared.email")}</label>
                                </div>
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input id="iIEEInput" class="input" type="email" />
                                    </div>
                                    <div class="control">
                                        <button id="btnIEEVerify" class="button is-primary">{t("profile.information.updateEmail.verify")}</button>
                                    </div>
                                </div>
                                <div id="dIEECodeVerification" class="field" style="display: none;">
                                    <label class="label">{t("shared.codeVerification")}</label>
                                    <div class="control">
                                        <input id="iIEECVInput" class="input" type="number" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control" style="display: flex; flex-direction: row; gap: 0.3rem">
                                        <button id="btnIEECancel" style="flex: 1" class="button is-danger is-fullwidth">{t("shared.cancel")}</button>
                                        <button id="btnIEEUpdate" style="flex: 1" class="button is-primary is-fullwidth" disabled>{t("shared.update")}</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="dInformationOptions" class="field">
                                <div class="control" style="display: flex; flex-direction: column; gap: 0.5rem">
                                    <button id="btnIOUpdateName" class="button is-primary is-fullwidth">{t("profile.information.updateName.title")}</button>
                                    <button id="btnIOUpdateEmail" class="button is-primary is-fullwidth">{t("profile.information.updateEmail.title")}</button>
                                </div>
                            </div>

                            <div><span id="sICreatedAt">{t("profile.information.createAt", { date: "..." })}</span></div>
                            <div><span id="sILastUpdate" style="display: none">{t("profile.inforation.lastUpdate", { date: "..." })}</span></div>
                        </div>
                    </div>
                </div>
                <div id="dSecurity" class="card" style="display: none">
                    <div class="card-content">
                        <div class="content">
                            <div class="option">
                                <label class="label">{t("shared.password")}</label>
                                <button id="btnSUpdatePassword" class="button is-primary">{t("shared.update")}</button>
                            </div>
                            <div class="option">
                                <label class="label">{t("shared.codeVerification")}</label>
                                <button id="btnSUpdateTwoStep" class="button is-primary">{t("shared.manage")}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dData" class="card" style="display: none">
                    <div class="card-content">
                        <div class="content">
                            <div class="option">
                                <label class="label">{t("profile.data.import.title")}</label>
                                <button id="btnDImportCsv" class="button is-primary">CSV</button>
                            </div>
                            <div class="option">
                                <label class="label">{t("profile.data.export.title")}</label>
                                <button id="btnDExportCsv" class="button is-primary">CSV</button>
                            </div>
                            <div class="option">
                                <label class="label">Backend API</label>
                                <button id="btnDShowApiUrl" class="button is-primary">{t("profile.data.backendShow")}</button>
                            </div>
                            <progress id="pDProgress" class="progress is-primary" max="100" style="display: none"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <Base id="mUpdatePassword" title={t("shared.passwordUpdate")}>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">{t("shared.passwordCurrent")}</label>
                <div class="control">
                    <input id="iMUPCurrentPassword" class="input" type="password" />
                </div>
            </div>
            <div class="field">
                <label class="label">{t("shared.passwordNew")}</label>
                <div class="control">
                    <input id="iMUPNewPassword" class="input" type="password" />
                </div>
            </div>
            <div class="field">
                <label class="label">{t("shared.passwordConfirm")}</label>
                <div class="control">
                    <input id="iMUPConfirmPassword" class="input" type="password" />
                </div>
            </div>
        </section>
        <footer class="modal-card-foot" style="gap: 0.5rem;">
            <button id="btnMUPCancel" class="button is-danger is-fullwidth">{t("shared.cancel")}</button>
            <button id="btnMUPAccept" class="button is-primary is-fullwidth">{t("shared.update")}</button>
        </footer>
    </Base>
    <Base id="mUpdateTwoStep" title={t("shared.codeVerification")}>
        <section class="modal-card-body">
            <div class="option">
                <label class="label">{t("profile.security.active")}</label>
                <label class="switch is-rounded">
                    <input id="iMUTSActive" type="checkbox" />
                    <span class="check"></span>
                </label>
            </div>
            <div class="option">
                <label class="label">{t("profile.security.type")}</label>
                <div class="control">
                    <div class="select">
                        <select id="sMUTSType">
                            <option>{t("shared.email")}</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot" style="gap: 0.5rem;">
            <button id="btnMUTSCancel" class="button is-danger is-fullwidth">{t("shared.cancel")}</button>
            <button id="btnMUTSAccept" class="button is-primary is-fullwidth">{t("shared.accept")}</button>
        </footer>
    </Base>
    <Confirm locale={locale} />
    <Alert locale={locale} />
    <script>import "../../scripts/profile";</script>
</Layout>
