---
import type { GetStaticPaths } from "astro";
import { getLocaleFromUrl, createTranslations } from "../../core/shared/infrastructure/i18n/server";

import Layout from "../../layouts/Layout.astro";
import Options from "../../components/shared/Options.astro";

import Form from "../../components/Form.astro";
import Alert from "../../components/modals/Alert.astro";

import "../../styles/register.css";

export const getStaticPaths = (() => {
	return [
		{ params: { lang: "en" } }, 
		{ params: { lang: "es" } }
	];
}) satisfies GetStaticPaths;

const locale = getLocaleFromUrl(Astro.url);
const t = createTranslations(locale);
---

<Layout locale={locale} title={t("register.title")}>
    <Options locale={locale} />
    <div class="container">
        <img id="icon" src="/favicon/icon.svg" alt="Jeseb Hub" />
        <script is:inline>
			(function() {
				const theme = localStorage.getItem('theme');
				const id = document.getElementById("icon");
                id.src = (theme === "dark") ? "/favicon/icon-dark.svg" : "/favicon/icon.svg";
			})();
		</script>
        <Form title={t("register.title")}>
            <div class="field">
                <label class="label">{t("shared.name")}</label>
                <div class="control">
                    <input id="inName" class="input" type="text" />
                </div>
            </div>
            <div class="field">
                <label class="label">{t("shared.email")}</label>
                <div class="control">
                    <input id="inEmail" class="input" type="email" />
                </div>
            </div>
            <div class="field">
                <label class="label">{t("shared.password")}</label>
                <div class="control">
                    <input id="inPassword" class="input" type="password" />
                </div>
            </div>
            <div class="field">
                <label class="label">{t("shared.passwordConfirm")}</label>
                <div class="control">
                    <input id="inConfirmPassword" class="input" type="password" />
                </div>
            </div>
            
            <div class="info">
                <label>{t("register.login.description")} <a href=`/${locale}/login`><b>{t("register.login.link")}</b></a>.</label>
            </div>

            <div class="field">
                <div class="control">
                    <button id="btnRegister" class="button is-primary is-fullwidth">{t("register.register")}</button>
                </div>
            </div>
        </Form>
    </div>

    <Alert locale={locale} />

    <script>import "../../scripts/register";</script>
</Layout>