---
import Sidebar from "./Sidebar.astro";
import Menu from "./Menu.astro";

const locale = Astro.props?.locale || "en";
const hideAddButton = Astro.props?.hideAddButton || false;
---

<style>
    body {
        display: flex;
        flex-direction: row;
    }
    .jeseb-body {
        overflow: auto;

        display: flex;
        flex-direction: column;

        flex: 1;
    }
    .jeseb-body-content {
        width: 100%;

        flex: 1;
    }

    @media (max-width: 768px) {
        body {
            flex-direction: column-reverse;
        }
    }
</style>
<Sidebar locale={locale} hideAddButton={hideAddButton} />
<div class="jeseb-body">
    <Menu locale={locale} />
    <div class="jeseb-body-content">
        <slot />
    </div>
</div>
