---
import { Icon } from "astro-icon/components";

import { createTranslations } from "../../core/shared/infrastructure/i18n/server";

const locale = Astro.props?.locale || "en";
const t = createTranslations(locale);
---

<style>
    .sidebar {
        background: #00d1b2;
        padding: 1rem;
        z-index: 31;

        display: flex;
        flex-direction: column;
        
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .sidebar .item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sidebar .head {
        margin-bottom: 2rem;
    }

    #icon {
        width: 60px;
    }
</style>
<section class="sidebar">
    <div class="item head">
        <img id="icon" src="/favicon/icon-dark.svg" alt="Jeseb Hub" />
        <!-- <script is:inline>
			(function() {
				const theme = localStorage.getItem('theme');
				const id = document.getElementById("icon");
                id.src = (theme === "dark") ? "/favicon/icon-dark.svg" : "/favicon/icon.svg";
			})();
		</script> -->
        <span><b>Jeseb Hub</b></span>
    </div>
    <div class="item">
        <Icon name="solar:home-2-bold" />
        <span>Home</span>
    </div>
    <div class="item">
        <Icon name="solar:wallet-2-bold" />
        <span>Accounts</span>
    </div>
    <div class="item">
        <Icon name="solar:widget-4-bold" />
        <span>Categories</span>
    </div>
    <div class="item">
        <Icon name="solar:diagram-up-bold" />
        <span>Transactions</span>
    </div>
    <div class="item">
        <Icon name="solar:settings-bold" />
        <span>Settings</span>
    </div>
</section>