@import "bulma/css/bulma.min.css";
@import url("../shared/global.css");

.categories {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.categoriesContent {
    width: 100%;
    max-width: 800px;
}
