---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import Menu from "../layouts/Menu.astro";

import Alert from "../components/modals/Alert.astro";
import Prompt from "../components/modals/Prompt.astro";
import Confirm from "../components/modals/Confirm.astro";

import { List } from "../components/accounts/List";

import "../styles/accounts/index.css";
---

<Layout title="Accounts">
    <Menu />

    <div class="accounts">
        <div class="accountsContent">
            <List client:load />
        </div>
    </div>

    <button id="btnAdd" class="button is-primary">
        <Icon name="material-symbols:add-2-rounded" width={24} height={24} />
    </button>

    <Prompt />
    <Confirm />
    <Alert />
    <script>import "../scripts/accounts";</script>
</Layout>