---
import type { GetStaticPaths } from "astro";
import { getLocaleFromUrl } from "../core/shared/infrastructure/i18n/server";

import Layout from "../layouts/Layout.astro";

export const getStaticPaths = (() => {
	return [
		{ params: { lang: "en" } }, 
		{ params: { lang: "es" } }
	];
}) satisfies GetStaticPaths;

const locale = getLocaleFromUrl(Astro.url);
---

<Layout locale={locale} title="Jeseb Hub">
    <div class="container">
        <label>Jeseb Hub</label>
    </div>

    <script>
        import { getLocale, initTranslations, t, type Locale } from "../core/shared/infrastructure/i18n";
        
        initTranslations();
        const locale: Locale = getLocale();

        window.location.href = `${locale}/`;
    </script>
</Layout>