---
import Layout from "../layouts/Layout.astro";

import Form from "../components/Form.astro";
import Base from "../components/modals/Base.astro";
import Alert from "../components/modals/Alert.astro";

import jeseb from "../assets/images/jeseb.png";

import "../styles/login.css";
---

<Layout title="Login">
    <div class="container">
        <img class="icon" src={jeseb.src} alt="Jeseb Hub" />
        <Form title="Login in Jeseb Hub">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input id="inEmail" class="input" type="email" />
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input id="inPassword" class="input" type="password" />
                </div>
            </div>
            
            <div class="info">
                <label>Forgot your password? <a href="/recover">Recover it</a>.</label>
                <label>You don't have an account? <a href="/register">Register</a>.</label>
            </div>

            <div class="field">
                <div class="control">
                    <button id="btnLogin" class="button is-primary is-fullwidth">Sign in</button>
                </div>
            </div>
        </Form>
    </div>

    <Base id="mTwoStep" title="Two step">
        <section class="modal-card-body">
            <div class="field">
                <label id="mtsMessage" class="label">Two step</label>
                <div class="control">
                    <input id="iMTSCode" class="input" type="number" />
                </div>
            </div>
        </section>
        <footer class="modal-card-foot" style="gap: 0.5rem;">
            <button id="btnMTSCancel" class="button is-danger is-fullwidth">Cancel</button>
            <button id="btnMTSAccept" class="button is-primary is-fullwidth">Accept</button>
        </footer>
    </Base>
    <Alert />

    <script>import "../scripts/login";</script>
</Layout>