---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";

import jeseb from "../assets/images/jeseb.png";

import "../styles/validation.css";
---

<Layout title="Validation">
    <div class="container">
        <img class="icon" src={jeseb.src} alt="Jeseb Hub" />
        <Form title="Validating token in Jeseb Hub">
            <div class="content">
                <p id="pMessage">Please wait while we validate your token...</p>
            </div>
            <button id="btnValidating" class="button is-primary is-fullwidth is-loading" disabled>Login</button>
        </Form>
    </div>

    <script>import "../scripts/validation";</script>
</Layout>