@import "bulma/css/bulma.min.css";
@import url("../shared/global.css");

.accounts {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.accountsContent {
    width: 100%;
    max-width: 800px;
}
