---
import { createTranslations, type Locale } from "../../core/shared/infrastructure/i18n/server";

import Base from "./Base.astro";

const locale = Astro.props?.locale ?? "en";
const t = createTranslations(locale as Locale);

const title = Astro.props?.title ?? t("shared.warning");
---

<Base id="confirm" title={title}>
    <section class="modal-card-body">
        <p id="confirmMessage"></p>
    </section>
    <footer class="modal-card-foot" style="gap: 0.5rem;">
        <button id="confirmNo" class="button is-danger is-fullwidth">{t("shared.no")}</button>
        <button id="confirmYes" class="button is-primary is-fullwidth">{t("shared.yes")}</button>
    </footer>
</Base>

<script>
    import { t } from "../../core/shared/infrastructure/i18n";

    const modal = document.getElementById("confirm") as HTMLDivElement;
    const modalClose = modal.querySelector('.delete') as HTMLButtonElement;
    const modalMessage = document.getElementById("confirmMessage") as HTMLParagraphElement;
    const modalNo = document.getElementById("confirmNo") as HTMLButtonElement;
    const modalYes = document.getElementById("confirmYes") as HTMLButtonElement;

    modalNo!.onclick = () => modal!.classList.remove('is-active');

    window.showConfirm = (message: string, title: string = "Warning", 
        yesAction?: () => void, 
        noAction?: () => void) => {
        if (modalMessage) modalMessage.innerHTML = message;
        if (modal!.querySelector('.modal-card-title')) {
            const tTitle = (title === "Warning") ? t("shared.warning") : title;
            modal!.querySelector('.modal-card-title')!.textContent = tTitle;
        }
        modal!.classList.add('is-active');

        modalClose!.onclick = () => {
            modal!.classList.remove("is-active");
            if (noAction) noAction();
        }
        modalNo!.onclick = () => {
            modal!.classList.remove('is-active');
            if (noAction) noAction();
        }
        modalYes!.onclick = () => {
            modal!.classList.remove('is-active');
            if (yesAction) yesAction();
        };
    };
</script>