---
import { createTranslations, type Locale } from "../../core/shared/infrastructure/i18n/server";

import Base from "./Base.astro";

const locale = Astro.props?.locale ?? "en";
const t = createTranslations(locale as Locale);

const title = Astro.props?.title ?? t("shared.warning");
---

<Base id="prompt" title={title}>
    <section class="modal-card-body">
        <div class="field">
            <label id="promptMessage" class="label" />
            <div class="control">
                <input id="promptInput" class="input" type="text" />
            </div>
            <p id="promptSpan" class="help is-danger" style="display: none;" />
        </div>
    </section>
    <footer class="modal-card-foot" style="gap: 0.5rem;">
        <button id="promptCancel" class="button is-danger is-fullwidth">{t("shared.cancel")}</button>
        <button id="promptAccept" class="button is-primary is-fullwidth">{t("shared.accept")}</button>
    </footer>
</Base>

<script>
    import { t } from "../../core/shared/infrastructure/i18n";

    const modal = document.getElementById("prompt") as HTMLDivElement;
    const modalClose = modal.querySelector('.delete') as HTMLButtonElement;
    const modalMessage = document.getElementById("promptMessage") as HTMLParagraphElement;
    const modalInput = document.getElementById("promptInput") as HTMLInputElement;
    const modalSpan = document.getElementById("promptSpan") as HTMLParagraphElement;
    const modalCancel = document.getElementById("promptCancel") as HTMLButtonElement;
    const modalAccept = document.getElementById("promptAccept") as HTMLButtonElement;

    modalCancel!.onclick = () => modal!.classList.remove('is-active');

    window.showPrompt = (message: string, title: string = "Warning", 
        acceptAction?: (value: string) => void, 
        cancelAction?: () => void) => {
        if (modalMessage) modalMessage.innerHTML = message;
        if (modal!.querySelector('.modal-card-title')) {
            const tTitle = (title === "Warning") ? t("shared.warning") : title;
            modal!.querySelector('.modal-card-title')!.textContent = tTitle;
        }
        modal!.classList.add('is-active');

        modalInput.classList.remove("is-danger");
        modalSpan.style.display = "none";

        modalClose!.onclick = () => {
            modal!.classList.remove("is-active");
            if (cancelAction) cancelAction();
            modalInput.value = "";
        }
        modalInput.addEventListener("keydown", (event: KeyboardEvent) => {
            if (event.key === "Enter") {
                event.preventDefault();
                modalAccept.click();
            }
        });
        modalCancel!.onclick = () => {
            modal!.classList.remove('is-active');
            if (cancelAction) cancelAction();
            modalInput.value = "";
        }
        modalAccept!.onclick = () => {
            if (!modalInput.value) {
                modalInput.classList.add("is-danger");
                modalSpan.style.display = "block";
                modalSpan.innerHTML = t("shared.inputEmpty");
                return;
            }
            modalInput.classList.remove("is-danger");
            modalSpan.style.display = "none";

            modal!.classList.remove('is-active');
            if (acceptAction) acceptAction(modalInput.value);
            modalInput.value = "";
        };
    };
</script>